.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 0px;
    margin: auto;
    width: 1200px;
}


/*logo row 1*/
section.grid-item.grid-item-1 {
    grid-column: 1 / span 3;
    background-color: dimgray;

}
/*nav bar*/
ul {
    list-style-type: none;
    text-align: right;
    color: white;
    margin: 14px;
    padding: 14px;
}

li {
    display: inline;
    margin-right: 20px;
}

    li a {
        color: WHITE;
        text-decoration: none;
    }

img#topvilla {
    height: 350px;
    width: 844px;
}
img#map {
    height: 350px;
  
}
/*tuscany villa row 2*/
section.grid-item.grid-item-2 {
    grid-column: 1 / span 3;
    background-color: white;
   

}
/*row 3 location header*/
section.grid-item.grid-item-3 {
    grid-column: 1/ span 3;
    background-color: dimgray;
}

.location {
    padding: 70px 0;
    border: 3px solid green;
    text-align: center;
}


/*row 4 location 1*/
section.grid-item.grid-item-4 {
    grid-column: 1/ span 3;
    background-color: white;
}
/*row 5 location 2*/
section.grid-item.grid-item-5 {
    grid-column: 1 / span 3;
    background-color: dimgray;
}
/*row 6 location 3*/
section.grid-item.grid-item-6 {
    grid-column: 1 / span 3;
    background-color: white;
}
/*row 7 ammenities header*/
section.grid-item.grid-item-7 {
    grid-column: 1 / span 3;
    background-color: dimgray;
}
/* row 8 ammenities 3x3 grid*/
section.grid-item.grid-item-8 {
    grid-column: 1 / span 3;
    background-color: white;
}
/*row 9 reviews header*/
section.grid-item.grid-item-9 {
    grid-column: 1 / span 3;
    background-color: dimgray;
}
/*row 10 reviews slider*/
section.grid-item.grid-item-10 {
    grid-column: 1 / span 3;
    background-color: white;
}
/*row 11 contact header*/
section.grid-item.grid-item-11 {
    grid-column: 1 / span 3;
    background-color: dimgray;
}
/*row 12 address form*/
section.grid-item.grid-item-12 {
    grid-column: 1 / span 3;
    background-color: white;
}
/*footer*/
section.grid-item.grid-item-13 {
    grid-column: 1 / span 3;
    background-color: dimgray;
}

p.center {
    text-align: left;
    margin-top: 5%;
}

p {
    margin-left: 5px;
    color: white;
    font-size: 15px;
}
